{"filter":false,"title":"procfile","tooltip":"/sample_app/procfile","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":1,"column":0},"action":"insert","lines":["web: bundle exec puma -C config/puma.rb",""],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":0},"end":{"row":1,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":4,"mode":"ace/mode/text"}},"timestamp":1520842247784,"hash":"c51d1c8faa10e4a358cc4770b5d2e81e3aa415bd"}